/* Please â¤ this if you like it! */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}
a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #662483;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 86vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #662483;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #662483;
  background-color: #102770;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: -160px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #1d3858;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #111111;
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  height: 44px;
  width: 124px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none !important;
  background-color: #662483;
  color: #ffffff !important;
  // box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn-thrid {
  width: 15rem;
  margin-top: 2vw;
  background: #662483;
  // border: 1px #707070 solid;
  color: #fef7f1;
  &:hover {
    background: #662483 !important;
    border: 1px #662483 solid !important;
    color: #662483 !important;
  }

  a {
    color: #fef7f1;
    font-size: 0.8rem;
  }
}

.btn:active,
.btn:focus {
  background-color: #fff;
  color: #662483;
  // box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background: #fff !important;
  border: 1px #662483 solid !important;
  color: #662483 !important;
  // box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.table-style {
  // background: rgba(135, 103, 69, 0.1) !important;
  background-color: #1d3858 !important;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #fff !important;
}

element.style {
  width: 1500px !important;
}
.theme--dark.v-application {
  background: #121212;
  // color: #1d3858 !important;
}
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #fff !important;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}
.v-application--wrap {
  min-height: 1vh !important;
}
.txt-header {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #1d3858 !important;
}
// .theme--dark.v-application {
//   background: #ffffff !important ;
//   color: #121212 !important;
// }
.theme--dark.v-data-table {
  background-color: #1d3858 !important;
  color: #ffffff;
}
.theme--dark.v-navigation-drawer {
  background-color: #1d3858 !important;
}
.theme--dark.v-card {
  background-color: #1d3858 !important;
  color: #ffffff;
}
// .theme--dark.v-app-bar.v-toolbar.v-sheet {
//   background-color: #ffffff !important ;
// }
.theme--dark.v-time-picker-clock {
  background: #616161;
}
body {
  background-color: #ffffff !important;
  color: #121212 !important;
}
// .theme--dark.v-btn.v-btn--icon {
//   color: #ffffff;
// }
.theme--dark.v-application {
  background-color: transparent !important;
}
.theme--dark.v-card {
  background-color: #1d3858 !important;
  color: #ffffff;
}

.v-select__slot {
  position: relative;
  align-items: center;
  display: flex;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
user agent stylesheet div {
  display: block;
}
.v-select > .v-input__control > .v-input__slot {
  cursor: pointer;
}
.v-text-field > .v-input__control > .v-input__slot {
  cursor: text;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}
.v-text-field fieldset,
.v-text-field .v-input__control {
  color: currentColor;
}
.theme--dark.v-input {
  color: #1d3858 !important;
}
.theme--dark.v-toolbar.v-sheet {
  background-color: #1d3858 !important;
}
.theme--dark.v-messages {
  color: #1d3858 !important;
}
.theme--dark.v-input input,
.theme--dark.v-input textarea {
  color: #111111 !important;
}
.theme--dark.v-select .v-select__selections {
  color: #111111 !important;
}
.theme--dark.v-label {
  color: #111111 !important;
}
.v-input--selection-controls__ripple {
  color: #1d3858 !important;
}
.theme--dark.v-btn.v-btn--has-bg {
  background-color: #1d3858 !important;
}
.theme--dark.v-list {
  background-color: #1d3858 !important;
  color: #ffffff;
}
.theme--dark.v-footer {
  background-color: #1d3858 !important;
  color: #ffffff;
}
.lefty {
  display: flex;
  justify-content: space-between;
}
.v-application a {
  color: #fef7f1 !important;
}
.logo1 {
  display: grid;
  place-content: center;
  object-fit: cover;
  // position: relative;

  .bg-block img {
    margin-top: 3rem;
    width: 9rem;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  /* musthave style */
  .bg-container {
    position: relative;
    width: 9rem;
    // background-color: red;
  }
  .bg-container:before {
    content: "";
    display: block;
    padding-top: 56.25%;
    height: 0;
  }
  .bg-block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  .bg-block.active {
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .top {
    animation-name: fade;
    animation-iteration-count: infinite ease-in-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-direction: alternate;
  }
  .bottom {
    animation-delay: 3s;
  }
  // .mid{
  //   animation-delay: 6s;
  // }

  div {
    display: grid;
    place-items: center;

    img {
      width: 9rem;
      object-fit: cover;
      position: absolute;
      margin-top: 1rem;
      top: 0;
      animation: fade 3s infinite alternate ease-in-out;
    }
  }
}
.mobile-link {
  display: grid;
  place-items: center;
  // position: absolute;
  // justify-content: space-between;
  align-items: center;
  gap: 5rem;

  #menuToggle {
    display: block;

    position: relative;
    // top: 50px;
    // left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #662483;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #876745;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #876745;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 26rem;
    margin: -37px 0 0 -200px;

    padding: 2rem;
    padding-top: 5rem;
    background: #f2efeb;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 0.8rem;
    text-align: center;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .ul-links1 {
    display: grid;
    align-items: center;
    width: 100%;
    gap: 6vw;

    margin-top: -2rem;
    li {
      font-size: 0.8rem;
      color: #1d3858;
      font-family: "Montserrat";
      .box-form {
        background-color: #662483;
        padding: 1.25vw;
        padding-left: 2.2vw;
        padding-right: 2.2vw;
        color: #ffff;
      }
    }
  }
  .ul-links {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6vw;
    li {
      font-size: 0.9rem;
      color: #1d3858;
      font-family: "Montserrat";
      .box-form {
        background-color: #662483;
        padding: 1.25vw;
        padding-left: 2.2vw;
        padding-right: 2.2vw;
        color: #ffff;
      }
    }
  }
}
// .theme--dark.v-btn.v-btn--icon {
//   color: #1d3858 !important;
// }
// .theme--dark {
//   background: #ffffff !important ;
//   color: #121212 !important;
// }
// .theme--dark.v-data-table  .v-data-table__wrapper  table  thead tr  th {
//   color: #121212 !important;
//   // align-items: center;
// }
// .theme--dark.v-data-table  .v-data-table__wrapper  table  thead tr  th {
//   place-items: center;

//   align-items: center;
// }
// .theme--dark.v-sheet {
//   background-color: transparent !important;

// }
